name: Check
on:
  workflow_call:
    inputs:
      NODE_VERSION:
        type: string
        description: 'The version of Node to run the checks with'
        default: '24'
  pull_request:
    branches: [develop]

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js ${{ inputs.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.NODE_VERSION }}
          cache: 'npm'
          registry-url: https://registry.npmjs.org/

      - name: npm install
        run: npm ci

      - name: Formatting
        run: npx prettier . --check

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm run test

      - name: Build
        run: npm run build

      - name: Publishable
        run: npm publish --dry-run
